__pycache__/
*.tbz2
api/jetson/*
credential.txt
config/rootfs-noeula-user.tar.gz
config/rootfs-basic-jp3541-noeula-user.tar.gz
config/rootfs-basic-jp3541-with-docker-noeula-user.tar.gz
mmtc-docker.tar
logs/system_manager.log 
*.tar.gz
*.img*
.gitignore
config/dhcpConfig.txt
config/ipconfig.txt
