__pycache__/
*.tbz2
api/jetson/*
credential.txt
rootfs-noeula-user.tar.gz
rootfs-basic-jp3541-noeula-user.tar.gz
rootfs-basic-jp3541-with-docker-noeula-user.tar.gz
mmtc-docker.tar
logs/system_manager.log 
*.tar.gz
*.img*
.gitignore
api/dhcpConfig.txt
api/ipconfig.txt
